/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: March 2024
*/
/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* Fonts */
  --ff-primary: 'Space Grotesk', sans-serif;
  /* 
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 300 to 700
    .space-grotesk-<uniquifier> {
      font-family: "Space Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    } 
*/

  /* Font Sizes */
  /* ToDo: convert to meaningful var names */
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;

  /* Colors */
  --clr-black: hsl(0, 0%, 8%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-gray: hsl(0, 0%, 14%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-accent: hsl(153, 71%, 59%);
  --clr-warning: hsl(7, 100%, 68%);

  /* Utilities */
  --container: 69.375rem;
  --transition-primary: 220ms ease-in-out;

  /* Border radius */
  --br-soft: 1rem;
  --br-round: 50%;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Base Styles */
body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fs-body);
  line-height: 1.56;

  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* Components and Utility Classes */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: var(--container);
}

a {
  transition: color var(--transition-primary);
}

a:hover {
  color: var(--clr-accent);
  cursor: pointer;
}

.accent-underline {
  /* border-bottom: 4px solid var(--clr-accent); */
  /* text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--clr-accent);
  text-underline-offset: 0.22em; */
  background-image: linear-gradient(
    to right,
    var(--clr-accent) 75%,
    var(--clr-accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: 2.3px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--clr-accent);
}

.button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 2px var(--clr-accent);
  border: none;
}

/* tablet and above */
@media (min-width: 40em) {
  /* 640px */
  .wrapper {
    width: calc(100% - 3.75rem); /* 30px each side */
  }
}

/* Header */
.header {
  padding-top: 20px;
  position: relative;
  z-index: 100;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.title-link {
  /* 24, 32 */
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  line-height: 1;
  color: var(--clr-white);
  text-decoration: none;
}

.socials-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.social-icon > path {
  transition: fill var(--transition-primary);
}

.social-icon:hover > path {
  fill: var(--clr-accent);
}

@media (min-width: 40em) {
  /* 640px */
  .header {
    padding-top: 30px;
  }
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .socials-list {
    gap: 32px;
  }
}

/* Hero Section */
.hero {
}
.hero-wrapper {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--clr-gray);
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  max-width: 174px;
}

.hero-text {
  position: relative;
  margin-top: 330px;
  text-align: center;
}

.hero-headline {
  margin-bottom: 20px;
  font-size: var(--fs-40);
  line-height: 1;
  letter-spacing: -1.14px;
}

.hero-description {
  margin-bottom: 20px;
}



.hero-description {
  color: var(--clr-gray);
}



@media (min-width: 40em) {
  .hero-img {
    max-width: 322px;
  }
  .hero-headline {
    margin-bottom: 60px;
    font-size: var(--fs-72);
    letter-spacing: -2.05px;
  }
}

@media (min-width: 68.75em) {
  .hero-img {
    max-width: 445px;
  }
  .hero-headline {
    margin-bottom: 42px;
    font-size: var(--fs-88);
    letter-spacing: -2.5px;
  }
}

/* Skills */
.skills {
  padding: 40px 0;
}