/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: March 2024
*/
/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* Fonts */
  --ff-primary: 'Space Grotesk', sans-serif;
  /* Font Sizes */
  --fs-body: 1rem;
  --fs-heading-med: 1.5rem;
  --fs-heading-xl: 2.5rem;
  --fs-heading-lrg: 2rem;
  /* Colors */
  --clr-black: hsl(0, 0%, 8%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-gray: hsl(0, 0%, 14%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-accent: hsl(153, 71%, 59%);
  --clr-warning: hsl(7, 100%, 68%);
  /* Utilities */
  --container: 69.375rem;
  --transition-primary: 220ms ease-in-out;
  --transition-secondary: 400ms ease-in-out;
}

@media (min-width: 40em) {
  :root {
    --fs-body: 1.125rem;
    --fs-heading-xl: 4.5rem;
    --fs-heading-lrg: 3rem;
  }
}

@media (min-width: 68.75em) {
  :root {
    --fs-heading-xl: 5.5rem;
  }
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Base Styles */
body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fs-body);
  line-height: 1.56;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* Components and Utility Classes */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: var(--container);
}

a,
a.button {
  transition: all var(--transition-primary);
}

.accent-underline {
  background-image: linear-gradient(
    to right,
    var(--clr-accent) 75%,
    var(--clr-accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

button.button {
  background: transparent;
  border: none;
}

a.button,
button.button {
  min-width: 10ch;
  min-height: 44px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 2.3px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--clr-accent);
}

a.title-link:hover,
a.button:hover,
a.title-link:focus-within,
a.button:focus-within,
button.button:hover,
button.button:focus-visible {
  color: var(--clr-accent);
  cursor: pointer;
}

a.title-link:focus-within,
a.button:focus-within,
button.button:focus-within {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 2px var(--clr-accent);
  border: none;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.bottom-border {
  border-bottom: 1px solid var(--clr-white);
}

.section-title {
  font-size: var(--fs-heading-xl);
  line-height: 1;
  letter-spacing: -2.5px;
}

.rings-container {
  width: 530px;
  height: 129px;
  background: url('../assets/images/pattern-rings.svg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: absolute;
}

/* tablet and above */
@media (min-width: 40em) {
  /* 640px */
  .wrapper {
    width: calc(100% - 3.75rem); /* 30px each side */
  }
}

@media (min-width: 68.75em) {
  .wrapper {
    width: 100%;
  }
}

/* Header */
.header {
  position: relative;
  overflow-x: hidden;
  margin-inline: auto;
  max-width: var(--container);
}

.header__nav,
.footer__nav {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.title-link {
  /* 24, 32 */
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  line-height: 1;
  color: var(--clr-white);
  text-decoration: none;
}

.socials-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.social-link .social-icon > path {
  transition: fill var(--transition-primary);
}

.social-link:hover .social-icon > path,
.social-link:focus-within .social-icon > path {
  fill: var(--clr-accent);
}

.social-icon:focus-within,
a.social-link:focus,
a.social-link:focus-within {
  outline-color: var(--clr-accent);
  outline-offset: 3px;
}

@media (min-width: 40em) {
  /* 640px */
  .header__nav,
  .footer__nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__nav {
    padding-top: 30px;
  }
  .socials-list {
    gap: 32px;
  }
}

@media (min-width: 68.75em) {
  .header {
    overflow-x: visible;
  }
}

/* Hero Section */
.hero-wrapper {
  padding-bottom: 80px;
}

.hero-img-container {
  position: relative;
  z-index: -25;
}

.hero-img {
  margin-inline: auto;
  max-width: 10.875rem;
}

.rings-container__header,
.rings-container__skills {
  z-index: -40;
}

.rings-container__header {
  right: 50%;
  top: 130px;
}

.circle-container {
  width: 129px;
  height: 129px;
  background-image: url('../assets/images/pattern-circle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 254px;
  transform: translate(calc(100vw - 64px));
  overflow-x: hidden;
}

.hero-text {
  padding-top: 40px;
  text-align: center;
}

.hero-headline {
  margin-bottom: 20px;
  margin-inline: auto;
  max-width: 14ch;
  font-size: var(--fs-heading-xl);
  line-height: 1;
  letter-spacing: -1.14px;
}

.hero-description {
  margin-bottom: 20px;
  color: var(--clr-gray);
}

.hero-text a.button {
  align-self: end;
}

@media (min-width: 40em) {
  .hero-wrapper {
    padding-bottom: 60px;
    padding-left: 30px;
    display: grid;
  }
  .hero-img-container,
  .hero-text {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  .hero-img-container {
    justify-self: end;
  }
  .hero-img {
    max-width: 20.125rem;
  }
  .rings-container__header {
    top: 75px;
    right: 70%;
  }
  .circle-container {
    top: 469px;
    transform: translate(200%);
  }
  .hero-text {
    margin: 0;
    padding-top: 142px;
    display: grid;
    justify-items: start;
    text-align: left;
    max-width: 62vw;
  }
  .headline-break {
    display: block;
  }
  .hero-headline {
    margin-bottom: 60px;
    letter-spacing: -2.05px;
  }
  .hero-description {
    max-width: 75%;
  }
}

@media (min-width: 68.75em) {
  .header__nav {
    padding: 40px 30px 0 0;
  }
  .hero-wrapper {
    padding-left: 0;
    padding-bottom: 100px;
  }
  .hero-text {
    padding-top: 200px;
  }
  .hero-img {
    max-width: 445px;
  }
  .headline-break {
    display: inline;
  }
  .hero-headline {
    margin-inline: 0;
    margin-bottom: 42px;
    letter-spacing: -2.5px;
  }
  .hero-description {
    max-width: 38ch;
  }
  .rings-container__header {
    top: 16.5%;
    right: 76%;
  }
  .circle-container {
    top: 500px;
    transform: translate(-50%);
  }
}

.main {
  position: relative;
  overflow: hidden;
}

/* Skills Section*/
.skills {
  position: relative;
}

.rings-container__skills {
  left: 50%;
  bottom: 0;
  translate: 0 50%;
}

.skills-grid {
  padding-block: 40px;
  display: grid;
  gap: 24px;
}

.skill-card {
  text-align: center;
}

.skill-card h3 {
  margin-bottom: 5px;
  font-size: var(--fs-heading-lrg);
  line-height: 1.25;
}

.skill-card p {
  color: var(--clr-gray);
  font-weight: 600;
}

@media (min-width: 40em) {
  .rings-container__skills {
    left: 80%;
    bottom: 40px;
  }
  .skills-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    border: none;
  }
  .skill-card {
    text-align: left;
  }
}

@media (min-width: 68.75em) {
  .skills {
    padding-block: 72px;
  }
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
  }
  .rings-container__skills {
    left: 74%;
    bottom: 120px;
  }
}

/* Projects */
.projects {
  padding-block: 60px;
}

.projects header {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-title {
  font-size: var(--fs-heading-xl);
}

.projects-grid {
  display: grid;
  justify-items: center;
  gap: 40px;
}

.project-item__img {
  /* width: 100%;
	max-width: 500px; */
  /* margin-block-end: 20px; */
  object-fit: cover;
}

.project-item__title {
  margin-block-start: 20px;
  margin-block-end: 7px;
  font-size: var(--fs-heading-med);
  line-height: 1.3;
  text-transform: uppercase;
}

.project-item__tags {
  margin-block-end: 15px;
  display: flex;
  gap: 18px;
  color: var(--clr-gray);
  text-transform: uppercase;
}

.project-item__links {
  display: flex;
  gap: 30px;
}

@media (min-width: 40em) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    /* row gap / col gap */
    gap: 60px 24px;
  }
}

@media (min-width: 68.75em) {
  .projects-grid {
    gap: 70px 30px;
  }

  .project-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .project-item picture,
  .project-item__links {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .project-item picture {
    position: relative;
  }

  .project-item__picture::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--clr-black);
    opacity: 0;
    transition: opacity var(--transition-primary);
  }

  .project-item__links {
    place-self: center;
    opacity: 0;
    z-index: 10;
    transition: opacity var(--transition-secondary);
  }

  .project-item__links a.button {
    margin: 0;
  }

  .project-item:hover .project-item__picture::after,
  .project-item:focus-within .project-item__picture::after {
    opacity: 0.7;
  }

  .project-item:hover .project-item__links,
  .project-item:focus-within .project-item__links {
    opacity: 1;
  }
}

/* Contact Section */
.contact {
  padding-block: 60px;
  background-color: var(--clr-dark-gray);
}

.contact-wrapper {
  padding-block-end: 80px;
}

.contact-grid {
  margin-inline: auto;
  /* max-width: 500px; */
}

.contact-text {
  margin-bottom: 30px;
  text-align: center;
}

.contact-title {
  margin-bottom: 20px;
}

.contact-text p {
  margin-inline: auto;
  max-width: 38ch;
}

.contact-form {
  margin-inline: auto;
  max-width: 500px;
  display: grid;
  gap: 16px;
}

.form-control {
  position: relative;
  display: flex;
  align-items: center;
}

.form-input, 
.form-textarea {
  width: 100%;
  padding-inline: 24px;
  padding-block: 16px;
  color: var(--clr-white);
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--clr-white);
}

/* Handle the warning colors/icon with JavaScript? */
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--clr-accent);
  outline-offset: 2px;
  border-bottom: 2px solid var(--clr-accent);
}

/* input:invalid,
textarea:invalid {
  outline-color: var(--clr-warning);
} */

.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--clr-white);
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: -0.22px;
}

/* Add this icon to html via JavaScript? */
form .contact-form__invalid-icon {
  position: absolute;
  right: 0;
  display: none;
  width: 1.5rem;
  height: 1.5rem;
}

.textarea-wrapper > .contact-form__invalid-icon {
  top: 16px;
}


.contact-button {
  margin-top: 16px;
  justify-self: end;
}

.rings-container__contact {
  right: 50%;
  bottom: 0;
  translate: 0 -115%;
}

/* *** ToDo: max-width values for sections/wrappers to eliminate edge-to-edge between mobile/tablet/desktop transition ?? */

@media (min-width: 40em) {

  .rings-container__contact {
    right: 84%;
    translate: 0 -65%;
  }
}

@media (min-width: 68.75em) {

  .rings-container__contact {
    right: 74%;
    translate: 0 -95%;
  }

  .contact-grid {
    margin: 0;
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: 1fr 475px;
  }
  .contact-text {
    text-align: left;
  }
  .contact-text p {
    margin: 0;
  }
  .contact-form {
    margin: 0;
  }
}

/* Footer */
.footer {
  background: var(--clr-dark-gray);
  padding-block-end: 40px;
}

/* @media (min-width: 40em) {
  .footer {
    padding-block: 30px 40px;
  }
} */

@media (min-width: 68.75em) {
  .footer {
    padding-block-end: 60px;
  }
}